@charset "utf-8";
/*
   ----- TEAM ESTONIA -----
    designs.css of the restaurant website.

    Authors:
    Arevalo, Terence
    Giron, Danika
    Macabebe, Steven John
    Mendoza, Natalia Sabina

*/


/* =============================================
	Base styles used by All Screens
   =============================================
*/

html{
    background-color: rgb(234, 247, 215);
}

body > header{
    text-align: center;

}


/* horizontal navigation styles*/

nav.horizontal {
    align-items: center;
	height: auto;
}

nav.horizontal ul {
	text-align: center;
}

nav.horizontal li { 
    display: inline;
	font-size: 1.4em;
	line-height: 2em;
	list-style-type: none;	
	width: 100%;
    padding: 20px 20px 20px 20px;
}


/* Body Footer Styles */

body > footer {
    color: white;
    background-color: rgb(51, 51, 51);
    text-align: center;
    line-height: 2em;
    width: 100%;
}