@charset "utf-8";

/*
   ----- TEAM ESTONIA -----
    layout.css of the restaurant website.

    Authors:
    Arevalo, Terence
    Giron, Danika
    Macabebe, Steven John
    Mendoza, Natalia Sabina

*/


/* Import Basic Design Styles Used on All Screens */

@import url("gp_designs.css");



/* Flex Layout Styles */




/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px){
   
   img.logo{
      max-width: 100px;
      height: auto;
   }

   /* Gallery */
   div.gallery {
      grid-template-columns: 1fr;
  }

}





/* ===================================================
	Tablet Devices: Greater than 769 pixels
   ===================================================
*/
@media only screen and (min-width: 480px){

   img.logo{
      max-width: 150px;
      height: auto;
   }

   /* Gallery */
   div.gallery {
      grid-template-columns: 1fr 1fr;
  }

}



/* ===================================================
	Desktop Devices: Greater than 769 pixels
   ===================================================
*/
@media only screen and (min-width: 769px){

   /* Gallery */
   div.gallery {
      grid-template-columns: 1fr 1fr 1fr;
  }

}



